@model BlindsResistanceCalculator.ViewModels.ColorCodeInput
@using BlindsResistanceCalculator.Models

@{
    var colorLists = ViewData["ColorLists"] as ColorCodeLists;
}

<h2>Ohm Calculator</h2>

<h4>Select appropriate band colors:</h4>

@using (Html.BeginForm("Calculate", "OhmCalculator", FormMethod.Post)) { 

<div class="form-group">
    @Html.LabelFor(model => model.BandAColor)
    @Html.DropDownListFor(model => model.BandAColor, colorLists.BandAColorList, "Select", new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BandBColor)
    @Html.DropDownListFor(model => model.BandBColor, colorLists.BandBColorList, "Select", new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BandCColor)
    @Html.DropDownListFor(model => model.BandCColor, colorLists.BandCColorList, "Select", new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BandDColor)
    @Html.DropDownListFor(model => model.BandDColor, colorLists.BandDColorList, null, new { @class = "form-control" })
</div>
<div class="form-group">
    <input type="button" id="btnSubmit" name="btnSubmit" value="Submit" class="btn btn-primary" />
</div>
}

<div id="results">

</div>

@section scripts {
    <script>
        $("#btnSubmit").click(function () {
            $.ajax({
                url: "/OhmCalculator/Calculate",
                type: "POST",
                data: $("form").serialize(),
                success: function (data) {
                    $("#results").html(data);
                }
            });
        });
    </script>

}